.buyNow{
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5%;
}
.buyNow__title{
    color: $textColorTitle;
    @include fontTextRegular;
    font-size: $titleSizeTwo;
    line-height: 87.3%;
    text-align: left;
}
.buyNow__span{
    color: $backgroundColorDark;
    @include fontBadScript;
    font-size: $titleSizeTwo;
    line-height: 87.3%;
    text-align: left;
    margin-left: 270px;
}

.buyNow__carousel {
    overflow: hidden;
    width: 100%; /* Ширина карусели */
}

.buyNow__carousel-inner {
    display: flex;
    transition: transform 0.5s ease; /* Плавный переход */
}

.buyNow__carousel-card {
    min-width: calc(100% / 3); /* Ширина одной карточки (3 карточки в ряд) */
    padding: 4%;
}

.buyNow__carousel-currentPrice{
    color: $textColorTitle;
    @include fontTextRegular;
    font-size: $textSizeOne;
    line-height: 16px;
    text-align: left;
}
.buyNow__carousel-startPrice{
    color: $textColor;
    @include fontTextRegular;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    margin-left:13px;
    text-decoration: line-through;
}
.buyNow__carousel-descriptinAndBasket,
.buyNow__carousel-info{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top:10px;
}
.buyNow__carousel-description{
    color: rgb(125, 125, 125);
    @include fontTextRegular;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
}
.buyNow__carousel-svgBasket{cursor: pointer;}

.buyNow__carousel-thoroughBtn{
    color: rgb(18, 18, 18);
    @include fontTextRegular;
    font-size: $textSizeOne;
    line-height: 16px;
    text-align: left;
    border-radius: 0px;
    border:0.5px solid $textColorTitle;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buyNow__carousel-thoroughBtn:hover {
    background-color: $backgroundColorDark;
    color:white;
}
.buyNow__carousel-stars{
    color:$backgroundColorDark;
}