.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
    position: sticky;
}

.right-group {
    display: flex;
}

.header-form {
    display: flex;

    &__btn {
        background-color: inherit;
        border: none;
    }
}