.buy-now {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10%;

    &__title {
        color: $textColorTitle;
        @include fontTextRegular;
        font-size: $titleSizeTwo;
        line-height: 87.3%;
        text-align: left;
    }

    &__span {
        color: $backgroundColorDark;
        @include fontBadScript;
        font-size: $titleSizeTwo;
        line-height: 87.3%;
        text-align: left;
        margin-left: 270px;
    }

    &__carousel {
        overflow: hidden;
        width: 100%;
    }

    &__carousel-inner {
        display: flex;
        transition: transform 0.5s ease;

        .card-item {
            min-width: calc(100% / 3);
            padding: 4%;
        }
    }
}


@media screen and (min-width: 1500px) and (max-width: 5000px) {
    .buy-now {
        max-width: 100%;
        padding: 5%;
    }

    .buy-now__title,
    .buy-now__span {
        font-size: 60px;
    }

    .buy-now__span {
        margin-left: 400px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {

    .buy-now__title,
    .buy-now__span {
        font-size: 32px;
    }

    .buy-now__span {
        margin-left: 210px;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px) {

    .buy-now__title,
    .buy-now__span {
        font-size: 25px;
    }

    .buy-now__span {
        margin-left: 165px;
    }
}

@media screen and (min-width: 250px) and (max-width: 500px) {
    .buy-now {
        padding-top: 10%;
    }

    .buy-now__title,
    .buy-now__span {
        font-size: 25px;
        display: flex;
        justify-content: center;
    }

    .buy-now__span {
        margin-left: 210px;
    }

    .buy-now__carousel-inner .card-item {
        padding: 3%;
        font-size: 13px;
    }
}