.card-item {
  width: 24%;

  &__image {
    object-fit: cover;
    margin-bottom: 5px;
  }

  &__price {
    font-size: $textSizeOne;
    @include fontTextRegular;
    color: $textColorTitle;
    text-align: left;
  }

  &__start-price {
    color: $textColor;
    font-size: $textSizeTwo;
    margin-left: 13px;
    text-decoration: line-through;
  }

  &__info-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__name {
    font-size: 12px;
    @include fontTextRegular;
    color: $textColor;
    display: flex;
    align-items: center;
  }

  &__shop-btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  &__info-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
    justify-content: end;

    @media (max-width: $mobile) {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-top: 6px;
      gap: 0;
    }
  }

  &__btn {
    padding: 10px 9px 10px 25px;
    @include fontTextRegular;
    font-size: 14px;
    color: $textColorTitle;
    border: 0.5px solid #514a7e;
    background: transparent;

    @media (max-width: $desktop-md) {
      padding: 10px 9px 10px 15px;
    }

    @media (max-width: $tablet) {
      font-size: 12px;
      padding: 9px;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__btn:hover {
    background-color: $backgroundColorDark;
    color: white;

    path {
      fill: white;
    }
  }

  &__link-arrow {
    margin-left: 15px;
  }

  &__rating {
    color: $backgroundColorDark;
  }
}