body {
  background-color: $backgroundColorLight;
}

.card-content {
  display: flex;
  margin-bottom: 43px;

  &__left {
    margin-right: 92px;
  }
}

.card-title {
  display: flex;
  align-items: center;
  font-family: $fontFamilyText;
  margin-bottom: 40px;

  &__text {
    font-size: $titleSizeTwo;
    font-weight: 400;
    align-self: flex-end;
    margin-right: 9px;
  }

  &__id {
    font-size: 20px;
    font-weight: 300;
    align-self: flex-end;
    line-height: 35px;
    margin-left: 10px;
  }
}

.card-slider {
  display: flex;
  flex-direction: column;

  &__main {
    margin-bottom: 37px;
    position: relative;
  }

  &__main-image {
  }

  &__main-arrow {
    padding: 16px 20px;
    position: absolute;
    right: 1.9%;
    bottom: 3.2%;
    border: none;
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 131px;
    height: 110px;

    &:not(:last-child) {
      margin-right: 14px;
    }
    &:last-child {
      position: relative;
    }
  }

  &__item-arrow {
    padding: 4px 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
  }
}

.card-price {
  font-family: $fontFamilyText;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 23px;
}

.card-color {
  margin-bottom: 30px;

  &__title {
    font-family: $fontFamilyText;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__select-list {
    display: flex;
    align-items: center;
  }

  &__select-item {
    &:first-child {
      margin-left: 4px;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.color__select-btn {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: none;
}

.color-btn {
  &__white {
    background-color: #ffffff;
    border: 1px solid black;
  }

  &__black {
    background-color: #000000;
  }

  &__green {
    background-color: #1fa68e;
  }

  &__serise {
    background-color: #dc39cc;
  }

  &__yellow {
    background-color: #fff385;
  }
}

.card-size {
  margin-bottom: 37px;

  &__title {
    font-family: $fontFamilyText;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__select-list {
    display: flex;
    margin-bottom: 14px;
  }

  &__select-item {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__table-link {
    font-size: 18px;
    font-weight: 400;
    color: #514a7e;
    text-decoration: underline;
  }
}

.size__select-btn {
  width: 30px;
  height: 30px;
  padding: 1px 2px 1px 2px;
  border: 0.3px solid #514a7e;
  border-radius: 0;
  background-color: transparent;
}

.size-letter {
  font-size: 16px;
  color: #514a7e;
}

.size-figure {
  font-size: 8px;
  color: #7d7d7d;
}

.to-cart {
  display: flex;
  margin-bottom: 35px;

  &__btn {
    padding: 8px 30px;
    background-color: #514a7e;
    color: #fffdf5;
    border: none;
    margin-right: 20px;
  }

  &__group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    font-family: $fontFamilyText;
    font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
  }
}

.card-rate {
  margin-bottom: 40px;

  &__stars {
    margin-bottom: 13px;
  }

  &__links {
    display: flex;
    font-family: $fontFamilyText;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }
  &__links-view {
    margin-right: 52px;
  }
}

.card-desc {
  &__title {
    font-family: $fontFamilyText;
    font-size: 20px;
    font-weight: 400;
    color: #121212;
    margin-bottom: 14px;
  }

  &__text {
    font-family: $fontFamilyText;
    font-size: 16px;
    font-weight: 300;
    color: #7d7d7d;
    width: 83%;
  }
}

.page-up__btn {
  background: no-repeat center url(../../assets/images/cardImages/up-arrow.png);
  background-color: #514a7e;
  border: none;
  border-radius: 100%;
  padding: 36px 36px;
  margin-bottom: 35px;
}

.reviews {
  &__title {
    font-family: $fontFamilyText;
    font-size: $titleSizeTwo;
    font-weight: 300;
    margin-bottom: 60px;
  }

  &__fullview {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
}

.review {
  display: flex;
  box-shadow: 0px 4px 10px 0px #514a7e33;
  padding: 40px 25px 40px 25px;
  margin-right: 80px;
  flex: 1;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__rate {
    margin-bottom: 6px;
  }

  &__avatar {
    margin-right: 44px;
    padding-top: 8px;
  }

  &__text {
    font-family: $fontFamilyText;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color: #7d7d7d;
    margin-bottom: 3px;
    flex-grow: 2;
    display: flex;
    align-items: center;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    font-family: $fontFamilyText;
    font-size: 12px;
    font-weight: 400;
  }

  &__author {
    color: #121212;
  }

  &__date {
    color: #514a7e;
  }

  &__btn {
    padding: 12px 25px;
    background-color: #514a7e;
    color: #fffdf5;
    border: none;
  }
}

.review-next__btn {
  border: none;
  background-color: transparent;
}
