.card-item {
  width: 24%;

  &__image {
    object-fit: cover;
    margin-bottom: 5px;
  }

  &__price {
    font-size: $textSizeOne;
    @include fontTextRegular;
    color: $textColorTitle;
    text-align: left;
  }

  &__start-price {
    color: $textColor;
    font-size: $textSizeTwo;
    margin-left: 13px;
    text-decoration: line-through;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__name {
    font-size: 12px;
    @include fontTextRegular;
    color: $textColor;
    display: flex;
    align-items: center;
  }

  &__shop-btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__btn {
    padding: 10px 9px 10px 25px;
    @include fontTextRegular;
    font-size: 14px;
    color: $textColorTitle;
    border: 0.5px solid #514a7e;
    background: transparent;
  }

  &__btn:hover {
    background-color: $backgroundColorDark;
    color: white;

    path {
      fill: white;
    }
  }

  &__link-arrow {
    margin-left: 15px;
  }

  &__rating {
    color: $backgroundColorDark;
  }
}