.catalog-page-main {
    @include fontTextLight;
}

.catalog-page-nav {
    margin-top: 60px;
}

.catalog-page-title {
    margin-top: 60px;
    font-size: $titleSizeTwo;
    color: $textColorTitle;
}

.products-sort {
    display: flex;
    align-items: end;

    &__text {
        margin-top: 60px;
        font-size: $titleSizeThree;
        color: $textColor;
        padding-right: 48px;
    }

    &__btn {
        margin-right: 35px;
        border: none;
        background-color: inherit;
        color: $textColorTitle;
        @include fontTextLight;
        font-size: $titleSizeThree;
        cursor: pointer;
    }
}

.content-wrap {
    margin-top: 60px;
    display: flex;
}


.product-filtr__size,
.product-filtr__colors {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 98px;

}

.product-filtr {
    margin-right: 41px;
    width: 158px;

    &__btn-name {
        color: $textColorTitle;
        @include fontTextLight;
        font-size: $titleSizeThree;
    }

    &__btn {
        border: none;
        background-color: inherit;
        display: flex;
        align-items: end;
    }
}

.price-range {

    &__inputs {
        display: flex;
        align-items: end;
        gap: 10px;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__slider {
        height: 5px;
        border-radius: 5px;
        background-color: #ddd;
        position: relative;
        margin-top: 10px;
    }

    &__slider-progress {
        height: 5px;
        left: 25%;
        right: 25%;
        border-radius: 5px;
        background-color: $backgroundColorDark;
        position: absolute;
    }
}

.price-range__field span {
    font-size: 11px;
}

.price-range__field input {
    width: 65px;
    height: 100%;
    border: none;
    border-bottom: 1px solid $textColor;
    outline: none;
    font-size: 14px;
    background-color: inherit;
}

.price-range__field input::-webkit-outer-spin-button,
.price-range__field input::-webkit-inner-spin-button {
    appearance: none;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    appearance: none;
    pointer-events: none;
}

.range-input input::-webkit-slider-thumb {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    pointer-events: auto;
    appearance: none;
    background-color: $backgroundColorDark;
}

// .range-input input::-moz-range-thumb {
//     height: 11px;
//     width: 11px;
//     border-radius: 50%;
//     border: none;
//     pointer-events: auto;
//     appearance: none;
//     background-color: $backgroundColorDark;
// }