.color-filtr {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__color {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  &__color input {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
  }

  &__color input:hover {
    height: 22px;
    width: 22px;
    transition: 0.3s;
    -webkit-box-shadow: -8px 11px 36px 10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -8px 11px 36px 10px rgba(34, 60, 80, 0.2);
    box-shadow: -8px 11px 36px 10px rgba(34, 60, 80, 0.2);
  }

  &__color input:checked {
    height: 22px;
    width: 22px;
    -webkit-box-shadow: -8px 11px 36px 10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -8px 11px 36px 10px rgba(34, 60, 80, 0.2);
    box-shadow: -8px 11px 36px 10px rgba(34, 60, 80, 0.2);
  }
}

.grey {
  background-color: grey;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: yellow;
}

.brown {
  background-color: brown;
}

.violet {
  background-color: violet;
}