.faqS{
background-color: $backgroundColorLight;
max-width: 1200px;
margin: 0 auto;
padding-right: 15px;
padding-left: 15px;
padding-top: 5%;
}
.faqS__title{
color: $textColorTitle;
@include fontTextRegular;
font-size: $titleSizeTwo;
line-height: 87.3%;
text-align: left;
}
.faqS__span{
margin-left: 570px;
color: $backgroundColorDark;
font-size: $titleSizeTwo;
line-height: 87.3%;
text-align: left; 
@include fontBadScript;
}
.faqS__accordion{
margin-top:60px;
}
.faqS__accordion-trigger{
color: $textColorTitle;
font-size: $titleSizeThree;
@include fontTextRegular;
line-height: 23px;
text-align: left;
display: block;
cursor: pointer;
width:100%;
border: none;
border-bottom: 0.5px solid $textColor;
padding-bottom:10px;
margin-bottom:19px;
background-color: transparent;
position: relative;
}
.faqS__accordion-content{
display:none;
color: black;
}
.faqS__accordion-item.open .faqS__accordion-content {
display: block;
margin-bottom: 20px;
font-size: $titleSizeThree;
@include fontText;
}
.faqS__accordion-trigger::after {
content: '+';
position: absolute;
font-size:24px;
right: 10px;
transition: transform 0.3s;
color: $backgroundColorDark;
}
.faqS__accordion-item.active .faqS__accordion-trigger::after {
transform: rotate(45deg);
}