.footer {
    font-family: $fontFamilyText;
    background-color: $backgroundColorDark;
    color: $backgroundColorLight;
    padding: 81px 0;

    @media (max-width: $mobile) {
        padding: 41px 0;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: $mobile) {
            flex-direction: column-reverse;
        }
    }

    &__title {
        font-size: $titleSizeThree;
        margin-bottom: 20px;

        @media (max-width: $mobile) {
            font-size: $homePagetextSize;
        }
    }

    &__description-contacts {
        font-size: $textSizeTwo;
    }
}

.footer-nav {
    &__item {
        font-size: $textSizeTwo;
        margin-bottom: 10px;
    }

    &__info {
        @media (max-width: $mobile) {
            display: none;
        }
    }
}


.footer-socials {
    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }

    &__phone {
        a {
            display: flex;
            align-items: flex-end;
            gap: 11px;
        }
    }

    &__hours {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 11px;

        @media (max-width: $mobile) {
            justify-content: start;
        }
    }

}


.footer-logo {
    align-self: flex-end;
    max-width: 84px;
    max-height: 84px;

    @media (max-width: $mobile) {
        display: none;
    }

    img {
        width: 100%;
    }
}