.header {
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: $backgroundColorLight;
    padding-top: 49px;
    padding-bottom: 10px;

    @media (max-width: $mobile) {
        position: fixed;
        width: 100%;
        height: 11vh;
        bottom: 0;
        top: auto;
        padding-top: 3vh;
        background-color: $backgroundColorDark;
    }

    &__container {
        position: relative;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.menu-btn {
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: relative;

    &__icon {
        &--light {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            padding-top: 20%;

            @media (max-width: $mobile) {
                visibility: visible;
            }
        }

        &--dark {
            @media (max-width: $mobile) {
                visibility: hidden;
            }
        }
    }
}

.right-group a:not(:last-child) {
    margin-right: 20px;
}

.right-group {
    display: flex;
}

.header-form {
    display: flex;
    margin-right: 20px;

    &__btn {
        background-color: inherit;
        border: none;
        margin-right: 20px;
        cursor: pointer;
    }

    &__input {
        background-color: inherit;
        border: none;
        border-bottom: 0.5px solid $textColor;
        @include fontText;
        color: $textColor;
        font-size: $textSizeTwo;
        width: 308px;
        outline: none;

    }
}

.right-group a {
    display: flex;
    align-items: end;
}

.header-form__input:focus {
    border-bottom: 1px solid $textColor;
    color: $textColorTitle;
}

.header-form,
.header-form input,
.personal-account img {
    display: none;
}

.header-basket {
    position: relative;

    &__icon {
        &--light {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;

            @media (max-width: $mobile) {
                visibility: visible;
            }
        }

        &--dark {
            @media (max-width: $mobile) {
                visibility: hidden;
            }
        }
    }

}