.home-page {
    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    &__link-wrap {
        width: 193px;
        margin: 0 auto;
    }
}

.wrap__left-content {
    display: flex;
    flex-direction: column;
}

.left-content {
    &__img {
        width: 278px;
        height: 242px;
    }

    &__title {
        font-size: $homePageTitleSize;
        font-weight: 300;
        color: $textColorTitle;
        margin-top: 60px;
        max-width: 537px;
    }

    &__title-accent {
        @include fontBadScript;
        color: $backgroundColorDark;
    }

    &__text {
        max-width: 249px;
        margin-top: 60px;
    }
}

.right-content {
    &__img {
        width: 476px;
        height: 416px;
    }
}


.header-form,
.personal-account,
.personal-account img {
    display: none;
}