.page-nav {
    font-size: $titleSizeThree;
    @include fontTextLight;
    color: $textColor;
    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: $backgroundColorDark;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
        color: $backgroundColorLight;
        font-size: $textSizeOne;
    }

    &__ul {
        display: flex;
    }

    &__li {
        margin-right: 5px;

        &:not(:last-child)::after {
            content: "/";
        }

        &:last-child {
            color: $backgroundColorDark;

            @media (max-width: $mobile) {
                color: $backgroundColorLight;
                font-weight: bold;
            }
        }

        &:not(:last-child):hover {
            color: $backgroundColorDark;
        }
    }

}