.main {
  padding: 40px 10%;
  background-color: $backgroundColorLight;
  @media (max-width: $tablet) {
    padding: 40px 5%;
  }

  &__top-block {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    @media (max-width: $tablet) {
      margin-bottom: 40px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-right: 16px;
    @include descriptionTextStyle;
    font-size: $titleSizeTwo;
    line-height: 87%;
    color: $textColorTitle;
  }

  &__icon-container {
    width: 34px;
    height: 34px;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }

  &__quantity {
    align-self: flex-start;
    @include fontTextRegular;
    font-size: $homePagetextSize;
    color: $backgroundColorDark;
  }

  &__circle-icon {
    position: fixed;
    top: 50%;
    right: 0;
    height: 429px;
    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 76%;
  @media (max-width: $desktop-md) {
    width: 90%;
  }
  @media (max-width: $tablet) {
    gap: 40px;
    width: 100%;
  }

  &__button {
    width: 150px;
    height: 37px;
    @include fontTextRegular;
    font-size: $textSizeOne;
    color: $backgroundColorLight;
    background-color: $backgroundColorDark;
    border: 0.5px solid $backgroundColorDark;
    box-shadow: 0 4px 10px 0 $shadowColor;
    @include cursorPointer;
  }
}

.product {
  display: flex;
  gap: 50px;
  @media (max-width: $tablet) {
    gap: 25px;
  }
  @media (max-width: $mobile) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    gap: 15px;
  }

  &__image-container {
    width: 178px;
    height: 165px;
    box-shadow: 0 4px 10px 0 $shadowColor;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__description {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__names {
    display: flex;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
  }

  &__title {
    @include fontTextRegular;
    font-size: $titleSizeThree;
    line-height: 118%;
    color: $textColorTitle;
    @media (max-width: $mobile) {
      font-size: $homePagetextSize;
    }
  }

  &__art {
    @include descriptionTextStyle;
  }

  &__characteristics {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    @include descriptionTextStyle;
    @media (max-width: $mobile) {
      gap: 10px;
    }
  }

  &__quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 32px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    @include transparentButton;
    @include cursorPointer;
  }

  &__quantity-value {
    @include fontTextRegular;
    font-size: $titleSizeThree;
    line-height: 118%;
    color: $backgroundColorDark;
  }

  &__delete-btn,
  &__like-btn {
    display: flex;
    align-items: flex-end;
    gap: 7px;
    @include descriptionTextStyle;
    @include transparentButton;
    @include cursorPointer;
  }

  &__price {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    @media (max-width: $mobile) {
      grid-area: 2/1/3/3;
    }
  }

  &__price &__title {
    margin-bottom: 30px;
    @media (max-width: $mobile) {
      margin-bottom: 15px;
    }
  }

  &__price-value {
    @include fontTextRegular;
    font-size: $titleSizeThree;
    color: $backgroundColorDark;
  }

  &__delivery-info {
    display: flex;
    gap: 7px;
    @include descriptionTextStyle;
    @include transparentButton;
    color: $backgroundColorDark;
    @include cursorPointer;
    &::after {
      content: "";
      width: 11px;
      height: 100%;
      padding-left: 7px;
      background-image: url("../../assets/images/globalImages/short-dark-arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.total-info {
  display: flex;
  align-items: flex-end;
  gap: 50px;
  @media (max-width: $mobile) {
    flex-wrap: wrap;
    gap: 25px;
  }

  &__title {
    @include fontTextRegular;
    font-size: $titleSizeThree;
    line-height: 118%;
    color: $textColorTitle;
  }

  &__total-price {
    padding-left: 10px;
    font-size: $titleSizeTwo;
    color: $backgroundColorDark;
  }

  &__description {
    @include descriptionTextStyle;
  }
}

.disabled {
  opacity: 0.5;
  &:hover {
    cursor: not-allowed;
  }
}
