// для переменных

//цвета
$backgroundColorDark: #514a7e;
$backgroundColorLight: #fffdf5;
$textColor: #7d7d7d;
$textColorTitle: #121212;
$shadowColor: rgba(81, 74, 126, 0.4);

//шрифты и текст
$homePageTitleSize: 60px;
$titleSizeTwo: 40px;
$titleSizeThree: 20px;
$homePagetextSize: 16px;
$textSizeOne: 14px;
$textSizeTwo: 12px;
$fontFamilyText: "Roboto", sans-serif;

@mixin fontText {
  font-family: $fontFamilyText;
  font-weight: 100;
  font-style: normal;
}

@mixin fontTextRegular {
  font-family: $fontFamilyText;
  font-weight: 400;
  font-style: normal;
}

@mixin fontBadScript {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/*Dasha*/
@mixin descriptionTextStyle {
  font-family: $fontFamilyText;
  font-size: $textSizeOne;
  font-weight: 300;
  line-height: 118%;
  color: $textColor;
}

@mixin cursorPointer {
  &:hover {
    cursor: pointer;
  }
}

@mixin roundButton {
  background-color: $backgroundColorDark;
  border: none;
  border-radius: 100%;
  box-shadow: 0 4px 10px 0 $shadowColor;
}

@mixin transparentButton {
  outline: none;
  background: transparent;
  border: none;
}
/*end*/
