$backgroundColorDark: #514a7e;
$backgroundColorLight: #fffdf5;
$backgroundColorMenu: #121212;
$textColor: #7d7d7d;
$textColorTitle: #121212;
$shadowColor: rgba(81, 74, 126, 0.4);
$shadowColorTwo: rgba(51, 51, 51, 0.05);
$errorColor:#ff0000;

$mainTitleSize: 60px;
$mainTitleSizeTablet: 50px;
$titleSizeTwo: 40px;
$titleSizeThree: 20px;
$titleSizeFour: 32px;
$mainTitleSizeMobile: 37px;
$homePagetextSize: 16px;
$textSizeOne: 14px;
$textSizeTwo: 12px;
$fontFamilyText: "Roboto",
sans-serif;

$desktop-md: 1200px;
$tablet: 1024px;
$mobile: 767px;
$mobile-sm: 425px;

@mixin fontText {
  font-family: $fontFamilyText;
  font-weight: 100;
  font-style: normal;
}

@mixin fontTextLight {
  font-family: $fontFamilyText;
  font-weight: 300;
  font-style: normal;
}

@mixin fontTextRegular {
  font-family: $fontFamilyText;
  font-weight: 400;
  font-style: normal;
}

@mixin fontBadScript {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}


@mixin descriptionTextStyle {
  font-family: $fontFamilyText;
  font-size: $textSizeOne;
  font-weight: 300;
  line-height: 118%;
  color: $textColor;
}

@mixin cursorPointer {
  &:hover {
    cursor: pointer;
  }
}

@mixin roundButton {
  background-color: $backgroundColorDark;
  border: none;
  border-radius: 100%;
  box-shadow: 0 4px 10px 0 $shadowColor;
}

@mixin transparentButton {
  outline: none;
  background: transparent;
  border: none;
}

@mixin closeButtonStyle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  @include roundButton;
  @include cursorPointer;
}